DJANGO_SECRET_KEY=replace-with-long-random-secret
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,fizikazodiaka.ru,37.48.251.135
DJANGO_CSRF_TRUSTED_ORIGINS=https://fizikazodiaka.ru,http://fizikazodiaka.ru,https://37.48.251.135,http://37.48.251.135
PUBLIC_SITE_URL=https://fizikazodiaka.ru
SITE_DOMAIN=fizikazodiaka.ru
